
body {
  background-color: rgb(0, 0, 0);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#gameItem {
  background-color: teal;
  width: 50px;
  height: 50px;
  position: absolute;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
#walker {
  width: 50px;
  height: 50px;
  background-color: rgb(244, 14, 233);
  position: absolute;
}

#friend {
  width: 50px;
  height: 50px;
  background-color: rgb(14, 244, 206);
  position: absolute;
}

#tag {
  right: 3;
  background-color: rgb(116, 120, 119);
  width: 440px
}

#startTag{
  background-color: white
}