#die {
  height: 100px;
  width: 100px;
  background-color: rgb(94, 90, 90); /* Feel free to customize */
  position: relative;
  border-radius: 10px;
  top: 50px;
}

#die2 {
  height: 100px;
  width: 100px;
  background-color:  rgb(0, 0, 0);
  position: relative;
  top: 25px;
  border-radius: 10px;
  top: 70px;
}