
body {
  background-color: rgb(0, 0, 0);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(12, 140, 203);
  z-index: 2;
}

#snake-head {
  background-color: rgb(10, 37, 241);
}

.apple {
  background-color: rgb(255, 0, 255);
  z-index: 1;
}